<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">
    <div class="overlay">
    <div class="centered">
        <a id="nextsectiont" href="#insanity">
            <span><i class="fa fa-chevron-circle-down" style="font-size: 32px; margin: auto"></i></span>
        </a>
        </div>
    </div>
    <div class="movement_main">
        <%= image_tag "patern0.jpg" %>
    </div>
    <div class="movement_secondary">
        <%= image_tag "patern1.png" %>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="Andy Mental | Just down right Gnar">www.AndyMental.com</a>
        </div>
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Home</a></li>
                <li><a href="#insanity">Insanity &#38; Beyond</a></li>
                <li><a href="#contact">The Conundrum</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- End Header -->

<!-- Information Block -->
<div id="insanity" class="container">
    <div class="row">
        <div class="span12">
            <h2 class="title"><br></h2>
            <h2 class="title">Just down right Gnar</h2>
            <div class="info-block">
                    <h3><span class="color-text">Andy Mental</span> Accepting Insanity &#38; Beyond</h3>
                    <p>I am going beyond radical, extreme and with balls out in danger. My thoughts are raging within me and I am leading to light of no return. It is becoming dangerous for me, so I need to create a some space to vomit the shitzel off me.I am looking for perfection, I am building a skill in the process and all of that combined makes me think that I am going just down right Gnar.</p>
                    <br><p><h3><span class="color-text">get busy dieing</span></h3></p>
                    <p><h3>Let me find that <span class="color-text">INSANICUS</span> moment, while the world watches on. I am tired of the new day with same shit. I say insanity rocks, let me go mad and use my maddness to create something great.</h3></p>
                    <p><h3><span class="color-text">get busy trying</span></h3></p>
                    <p>Trying is all we can do. Just Living is not an option, Sainty traps you to "Just Living, Just Surviving" state. Don't be Senti Mental go Andy Mental
                    <a id="nextsectiont" href="#explorez">
                        <i class="fa fa-chevron-circle-down" style="margin: auto"></i>
                    </a>.
                    </p>
            </div>
        </div>
    </div>
</div>
<!-- End Information Block -->
<!-- Focus Section -->
<div id="explorez" class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title"><br></h2>
                <h2 class="title">Explore</h2>
                <h3 class="title-description">Ride along with me while I dabble trough various learnings &#38; happenzings.</h3>
                <br>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    <!-- Focus Items -->
    <div class="row">
    	<div class="span3 profile">
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UhD3_dxKNd8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="profile-description">Andy Mental: Idea, Concept, Inspiration and Execution.<br>Life has become difficult and madness is all around. I am just encashing on the idea of Madness.</p>
        </div>
    	<div class="span3 profile">
        	<p class="profile-description">Blogging the Blah out of Blah. Yet another place of articles, not really. I share my views on what beining Andy Mental is all about. </p><div class="image-wrap">
                <div class="hover-wrap">
                    <%= link_to "post" do %>
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Blahging:<br>Creative Insanity &#38; Shitzles</span>
                    <% end %>
                </div>
                <%= image_tag "creative_insanity.jpg" %>
            </div>
        </div>
        <div class="span3 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <%= link_to "post" do %>
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Journey:<br>Wannapreneur&#39;s Tale</span>
                    <% end %>
                </div>
                <%= image_tag "wannapreneur.jpg" %>
            </div>
            <p class="profile-description"><b>wa·na·pre·neur [wah-nah-pruh-nur]</b>: Join me in my search for the best way to transform Idea to Relaity. Trying the Quick and the Dirty Way.</p>
        </div>
        <div class="span3">
            <p class="profile-description">Some crazy, some Simple and some outright ludicrous undertakings I plan to capture. Drops of Insanity if you may. </p>
            <div class="image-wrap">
                <div class="hover-wrap">
                    <%= link_to "post" do %>
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Projects:<br>Ludicrous Undertakings</span>
                    <% end %>
                </div>
                <%= image_tag "ludicrous_undertakings.jpg" %>
            </div>
        </div>
    </div>
    <br>
    <!-- End People -->
</div>
<!-- End Focus Section -->

<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Accept Insanity</h2>
                <h3 class="title-description">Sanity has never worked for creatiting something great so why not be sane and accept Insanity afterall.<br>Say What?</h3>
                <h2 class="title"><br></h2>
                <a class="twitter-timeline" href="https://twitter.com/andyismental" data-widget-id="684639768198516736">Tweets by @andyismental</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>

            </div>
        </div>
    </div>
    <!-- End Title Page -->
</div>
</div>
<!-- End Contact Section -->
<script>
    $(".movement_main").perspectiveRules({smoothingMultiplier: 1.5,
        directions: [ -1, 1, 1, 1, 1, 1, 1, 1 ]});
    $(".movement_secondary").perspectiveRules({directions: [ 1, 1, -1, 1, 1, 1, 1, 1 ]});
</script>